<!DOCTYPE html>
<html lang="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
<!--     <script src="https://unpkg.com/vue@next"></script> -->
    <script src="./vue.global.js"></script>
<!--     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="./bootstrap.min.css" rel="stylesheet">

    <style>
    
        .led-textarea{
            min-width:300px;
        }
        @media (max-width: 991px){
            .led-table {
                width: 100%;
                flex-basis: 100%;
            }
        }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header></header>
    <main>        
        <div id="app">
            <div class="container-fluid">
                <div class="row">
                    <div class="col text-center">
                        <fieldset class="d-inline-block w-auto">
                                <button  class="btn btn-primary" @click="w32h22" v-bind:class="{ active: mode=='w32h22'}">32x22</button>
                                <button  class="btn btn-primary" @click="w16h22" v-bind:class="{ active: mode=='w16h22'}">16x22</button>
                                <button  class="btn btn-primary" @click="manually" v-bind:class="{ active: mode=='manually'}">Manually</button>
                        </fieldset>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col text-center">
                        <div v-if="mode==='manually'" >
                            <label>Cols<input class="form-control" v-bind:value="col" id="cols" type="number"></label>
                            <label>Rows<input class="form-control" v-bind:value="row" id="rows" type="number"></label>
                            <button  class="btn btn-primary" @click="resize">Resize</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col led-table table-responsive-lg">
                        <table class=" w-auto table table-sm table-bordered">
                            <tr v-for="(row,rowindex) in arr">
                                <td v-for="(col,colindex) in row">
                                    <button  class="btn btn-sm"  @click="ledOn" v-bind:data-row="rowindex" v-bind:data-col="colindex"  v-bind:class="{ 'btn-danger': col.status == 'on'}" v-bind:id="col.id" :key="col.id">{{ col.status == 'on' ? 1 : 0 }}</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col led-textarea">
                        <textarea class=" form-control" v-if="load" cols="10" rows="14" v-model="matrix"></textarea>
                    </div>
                </div>
                
                
            </div>
        </div>
    </main>
    <footer></footer>
    
    
    <script>
    
        const LedMatrix = {
            data() {
                return {
                    arr:[],
                    load: false,
                    row: 22,
                    col:32,
                    mode:"w32h22",
                }
            },            
            mounted() {
                this.init();
            },
            computed: {
                matrix(){
                    let matrixarr=[];
                    for(let i=0; i<this.col; i++){
                        if(i % 2 == 0){
                            for(let j=0; j<this.row; j++){
                                //matrixarr.push(this.arr[j][i].id.toString() +"-"+ this.arr[j][i].status);
                                matrixarr.push(this.arr[j][i].status=='on'? '1':'0');
                            }             
                        }else{
                            for(let j=this.row-1; j>=0; j--){
                                //matrixarr.push(this.arr[j][i].id.toString() +"-"+ this.arr[j][i].status);
                                matrixarr.push(this.arr[j][i].status=='on'? '1':'0');
                            }  
                        }
                    }
                    return matrixarr.join("");
                
                }
            },
            methods: {
                init(){
                    this.arr=[];
                    for(let i=0;i<this.row; i++){
                        this.arr[i]=[];
                        for(let j=0; j<this.col; j++){
                            this.arr[i][j]={id: (j+1)+(i*this.col), status: "off"};
                        }
                    }
                    this.load=true;                
                },
                ledOn(event) {
                    if (event) {
                        let row = event.target.dataset.row;
                        let col = event.target.dataset.col;
                        if(this.arr[row][col].status=="on"){
//                             event.target.style.backgroundColor="";
                            this.arr[row][col].status="off";
                        }else{
//                             event.target.style.backgroundColor="red";
                            this.arr[row][col].status="on";
                        }
                    }
                },
                w32h22(event){
                    this.mode="w32h22";
                    this.row=22;
                    this.col=32; 
                    this.init();
                },
                w16h22(event){
                    this.mode="w16h22";
                    this.row=22;
                    this.col=16;  
                    this.init();
                },
                manually(event){
                    this.mode="manually";
                },
                resize(event){
                    this.row=parseInt(document.getElementById("rows").value);
                    this.col=parseInt(document.getElementById("cols").value);
                    this.init();
                }
            }
        }

        Vue.createApp(LedMatrix).mount('#app')
    
    </script>
  </body>
</html>
